---
import Layout from '../layouts/ContentNarrow.astro';
---

<Layout
  title="404: Page not found"
  description="My metaframework has failed to find the requested page"
  heroImage="/page-covers/404.png"
  data-pagefind-ignore
>
  <p>
    Fancy checking out <a href="/archive">the Issue Archive</a> or <a
      href="/about">our About page</a
    > instead?
  </p>
</Layout>
