---
import Layout from '../layouts/NewsletterIssue.astro';
---

<Layout title="About the newsletter" description="The what's and the why's">
  <p>
    What exactly is a metaframework? As Harry Potter might say, it’s
    complicated. But in short (and simplified), especially in the JavaScript web
    development community, a metaframework is a layer of auxiliary tooling over
    an existing front-end framework of choice, allowing you to turn it into a
    full-stack toolset by adding back-end and deployment stories into the
    bundle.
  </p>

  <p>
    Is a metaframework a friend or foe? As “it depends”, that’s what we will
    explore as this newsletter unfolds. The idea is to look at this approach to
    software development from different points of view and consider all the
    possible opinions with fairness.
  </p>

  <p>
    Meanwhile, you can get yourself acquainted with the whole metaframework
    story better through <a
      href="https://github.com/fyodorio/awesome-metaframeworks"
      target="_blank">the Encyclopedia of Metaframeworks</a
    > maintained as an awesome-list by yours truly. Feel free to contribute, suggest
    corrections, and raise discussion topics in the repository.
  </p>

  <p>
    And remember: it’s not just the journey or the destination which is
    important and rewarding; it is the company. So I’m thrilled you’ve joined
    the ride 🤙
  </p>

  <section class="signature">
    <div>Sincerely,</div>
    <a href="https://fyodor.io" target="_blank">Fyodor Hagrid</a>
  </section>

  <hr />

  <section class="disclaimer">
    <h2>A small disclaimer</h2>

    <p>
      As a non-native English speaker, I’m doing my best to keep this newsletter
      error-free, but some quirks might slip through. If you spot any, please
      don’t hesitate to reply to the newsletter emails — your feedback is not
      only welcome but greatly appreciated!
    </p>

    <p>
      Also, this is my first newsletter, and I’m still figuring out the
      mechanics of tools like Buttondown. If you have any suggestions or tips to
      make this experience smoother or more enjoyable, I’m all ears. Let’s make
      this journey better together! 🚀
    </p>
  </section>
</Layout>

<style>
  .signature {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 32px;
  }
  .signature a {
    width: fit-content;
  }
  .disclaimer {
    margin-top: 32px;
  }
  .disclaimer p {
    font-style: italic;
  }
  h2 {
    font-size: 1.75rem;
    margin-bottom: 24px;
  }
</style>
