---
import Layout from '../layouts/NewsletterIssue.astro';
---

<Layout title="About the newsletter" description="The what's and the why's">
  <p>
    What exactly is a metaframework? As Harry Potter might say, it’s
    complicated. But in short (and simplified), especially in the JavaScript web
    development community, a metaframework is a layer of auxiliary tooling over
    an existing front-end framework of choice, allowing you to turn it into a
    full-stack toolset by adding back-end and deployment stories into the
    bundle.
  </p>

  <p>
    Is a metaframework a friend or foe? As “it depends”, that’s what we will
    explore as this newsletter unfolds. The idea is to look at this approach to
    software development from different points of view and consider all the
    possible opinions with fairness.
  </p>

  <p>
    Meanwhile, you can get yourself acquainted with the whole metaframework
    story better through <a
      href="https://github.com/fyodorio/awesome-metaframeworks"
      target="_blank">the Encyclopedia of Metaframeworks</a
    > maintained as an awesome-list by yours truly. Feel free to contribute, suggest
    corrections, and raise discussion topics in the repository.
  </p>

  <p>
    And remember: it’s not just the journey or the destination which is
    important and rewarding; it is the company. So I’m thrilled you’ve joined
    the ride 🤙
  </p>

  <section class="signature">
    <div>Sincerely,</div>
    <a href="https://fyodor.io" target="_blank">Fyodor Hagrid</a>
  </section>
</Layout>

<style>
  .signature {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
</style>
