---
import Layout from '../layouts/ContentNarrow.astro';
---

<Layout
  title={'AI Usage Policy'}
  description="Human-driven, AI-polished"
  heroImage="/page-covers/ai-usage.png"
  data-pagefind-ignore
>
  <p>
    The project is created from scratch <a
      href="https://fyodor.io/about"
      target="_blank">by a human</a
    > with arguable technical writing and coding competence but unlimited bravery,
    meticulous nerdiness, and non-negotiable verbosity in both.
  </p>

  <p>
    All the content on this website is created by this same person and only
    sometimes is proofread by an AI assistant for grammatical and syntax
    correctness. That is, you can always be sure you are reading their purely
    human thoughts, just with fewer typos. They sometimes even need to persuade
    the AI assistant to stick with an incorrect version because they just like
    that more and YOLO.
  </p>

  <p>
    The code is also hand-crafted as the project author does not trust AI
    assistants in anything more complex than centering a div (<em
      >OK, that's probably too high of a bar</em
    >), or generating and juggling JSONs – which is mostly what an AI assistant
    is engaged in within this project.
  </p>

  <p>
    No generative art is used for this project, all the images are created by
    the project maintainer (<em
      >except for the cute footer image leading to this page and made by <a
        href="https://ko-fi.com/s/4662b19f61"
        target="_blank">Andy Carolan</a
      ></em
    >), mostly using services like <a
      href="https://www.canva.com/"
      target="_blank">Canva</a
    >.
  </p>

  <p>
    No automation is used for any of the mentioned matters and all the
    Metaframework Records code and content passes the loving (<em
      >though slightly curved</em
    >) hands of the project maintainer and their forcibly-AI-disabled <a
      href="https://www.jetbrains.com/webstorm/"
      target="_blank">IDE of choice</a
    >.
  </p>

  <p>
    <a href="https://www.warp.dev" target="_blank">The Warp terminal</a> is used
    for all the mentioned auxiliary AI assistance purposes.
  </p>
</Layout>

<style></style>
