---
import Layout from '../layouts/NewsletterIssue.astro';
---

<Layout
  title="Confirm your subscription"
  description="Lorem ipsum dolor sit amet"
>
  <p>Please check your email to confirm subscription 📨</p>
</Layout>
