---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FaqSection from '../components/FaqSection.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import SubscriptionForm from '../components/SubscriptionForm.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`FAQ - ${SITE_TITLE}`}
      description={'Frequently Asked Questions about the newsletter and the website content in general'}
    />
  </head>
  <body>
    <Header />
    <main>
      <h1>Frequently Asked Questions</h1>
      <p class="subtitle-description">
        Find answers to the most common questions about Metaframeworks Records.
      </p>

      <FaqSection featuredOnly={false} title="" />

      <section>
        <h5>Interested? Subscribe to check everything yourself!</h5>
        <SubscriptionForm />
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  h1 {
    margin-bottom: 1rem;
  }

  .description {
    color: var(--accent);
    font-size: 1.2rem;
    text-align: center;
  }

  section {
    margin-top: 56px;
  }
</style>
