---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SubscriptionForm from '../components/SubscriptionForm.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Welcome 📬</h1>

      <p>
        The Metaframeworks Weekly is your bite-sized dose of the most important
        news and updates in the world of metaframeworks. Hand-curated by <a
          href="https://fyodor.io"
          target="_blank">Fyodor Hagrid</a
        >, this newsletter cuts through the noise to bring you only the
        essentials.
      </p>

      <p>
        Every week, we dive into the latest from frameworks like Next.js, Nuxt,
        SvelteKit, Astro, and more. Expect concise, actionable insights, and a
        sprinkle of community highlights — all delivered straight to your inbox.
        We take a sober look at the metaframeworks movement and ecosystem,
        presenting both the positive and negative aspects without strong
        opinions or judgments.
      </p>

      <SubscriptionForm />

      <p>See you in your inbox!</p>
    </main>
    <Footer />
  </body>
</html>
