---
import Layout from '../layouts/NewsletterIssue.astro';
---

<Layout
  title="Confirm your subscription"
  description="Lorem ipsum dolor sit amet"
>
  <p>Thank you for joining the Metaframeworks Weekly gang 🙌</p>
</Layout>
