---
import Layout from '../layouts/ContentNarrow.astro';
---

<Layout
  title="Subscription confirmed 🎉"
  description="Thank you for joining the Metaframeworks Weekly gang"
>
  <p class="subtitle-description">
    Thank you for joining the Metaframeworks Weekly gang. While you wait for
    your first newsletter, check out:
  </p>

  <div class="links">
    <ul>
      <li>
        <a href="/faq">Frequently Asked Questions</a> - Get answers to common questions
        about this newsletter
      </li>
      <li>
        <a href="/archive">Newsletter Archive</a> - Browse past issues and topics
      </li>
      <li>
        <a href="/comparison">Metaframeworks Comparison</a> - Compare different metaframeworks
        through multiple criteria
      </li>
      <li>
        <a href="/about">About</a> - Learn more about this project and its author
      </li>
      <li>
        <a
          href="https://github.com/fyodorio/awesome-metaframeworks"
          target="_blank"
          rel="noopener noreferrer">Encyclopedia of Metaframeworks</a
        > - A curated list of awesome resources related to software development with
        metaframeworks on GitHub
      </li>
    </ul>
  </div>
</Layout>

<style>
  p {
    text-align: center;
  }
</style>
