---
import Layout from '../layouts/ContentNarrow.astro';
---

<Layout
  title="Subscription confirmed 🎉"
  description="Thank you for joining the Metaframeworks Weekly gang"
>
  <p>Thank you for joining the Metaframeworks Weekly gang 🙌</p>
</Layout>

<style>
  p {
    text-align: center;
  }
</style>
