---
import Layout from '../layouts/NewsletterIssue.astro';
---

<Layout
  title="You are all set up 🎉"
  description="Thank you for joining the Metaframeworks Weekly gang"
>
  <p>Thank you for joining the Metaframeworks Weekly gang 🙌</p>
</Layout>

<style>
  p {
    text-align: center;
  }
</style>
