---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav>
    <h2>
      <a class="brand" href="/">
        <div class="logo">MW</div>
        {SITE_TITLE}
      </a>
    </h2>
    <div class="internal-links">
      <HeaderLink href="/archive">Archive</HeaderLink>
      <HeaderLink href="/comparison">Comparison</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    width: 100%;
    margin: 0;
    padding: 0 1em;
    background: white;
    border-bottom: 2px solid black;
  }
  h2 {
    margin: 0;
    font-size: 1.5rem;
    text-wrap: nowrap;
  }
  h2 a,
  h2 a.active {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
  }
  .brand {
    padding: 0 !important;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a:hover {
    color: rgb(75 85 99);
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
    nav {
      padding-top: 24px;
      flex-direction: column;
    }
  }
  .logo {
    font-family: 'Pixelify Sans', serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border: 2px solid black;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
