---

---

<form
  action="https://buttondown.com/api/emails/embed-subscribe/metaframeworks"
  method="post"
>
  <input
    placeholder="Enter your email"
    type="email"
    name="email"
    id="bd-email"
  />
  <button type="submit">Subscribe</button>
</form>

<style>
  form {
    display: flex;
  }
  input {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border: 2px solid black;
  }
  input:focus {
    outline: none;
  }
  button {
    padding: 0.5rem 1rem;
    color: white;
    background-color: black;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(31 41 55);
  }
</style>
